# Ignore node_modules
node_modules
.env
.git

# Ignore logs
logs
*.log

# Ignore environment variables
.env

# Ignore build directories
dist
build

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore npm debug files
npm-debug.log
yarn-debug.log
yarn-error.log